*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.gallery{
    background-color: #fcfafa;
    flex-basis: 20%;
    min-height: 75vh;
    position: relative;
}
.gallery img{
    display: block;
    padding-top: 100px;
    max-width: 100%;
    max-height: 100%;
}
.details{
    min-height: 73.5vh;
    background-color: white;
    padding: 40px;
    flex-basis: 30%;
    padding-left: 60px;
    font-size: 13px;
    font-weight: 500;
    color: grey;
}
.details h1{
    color: #333;
    font-size: 35px;
}
.details h2{
    columns: #555;
    font-size: 30px;
    font-weight: 600;
}
.details h3{
    color: #00d874;
    margin-bottom: 20px;
}
.details form{
    font-size: 15px;
    font-weight: 400;
}
.size-select {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.size-select p{
    width: 70px;
}
.size-select input{
    display: none;
}
.size-select span{
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}
.size-select input:checked + span{
    color: blue;
    font-weight: 700;
}
.color-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color-select p{
    width: 75px;
}
.color-select span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;

}
.color-1{
    background: red;
}
.color-2{
    background: #00d874;
}
.color-3{
    background: blue;
}
.color-4{
    background: pink;
}
.color-select input{
    display: none;
}
.color-select input:checked + span{
    transform: scale((0,7));
    box-shadow: 0 0 0 4px #fff, 0  0 0 6px #000;
}
.quantity-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quantity-select p{
    width: 75px;
}
.quantity-select input{
    border: 0;
    outline: 0;
    background-color: #eee;
    padding: 2px 2px 2px 15px;
    border-radius: 12px;
    width: 50px;
}
form button{
    background-color: #553ff0;
    color: white;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top: 50px;
    box-sizing: 0 10px 10px rgba(85, 63, 240, 0.25);
    cursor: pointer;
}
.control{
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.btn{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border-radius: 50%;
    background: rgba(17, 2, 2, 0.5);
    margin: 10px;
    cursor: pointer;
}
.btn.active{
    background-color: blue;
}